html, body {
  height: 100%;
  width: 100%;
}

img {
  margin: 8px;
  height: 200px;
	border-radius: 4px;
	
}

body{
	font-family: 'Capriola';
	font-size: 14px;
	background-color: #ADD8E6;
	
}

a:hover {
	transform: scale(1.15);	
	transition: transform .2s;
  background-color: transparent;
  text-decoration: underline;
	
}

.topnav {
  background-color: rgb(53, 52, 58);
  overflow: hidden;
	height: 23px;
	
}

.about {
	width: 600px;
	
}

